$c-primary: #F6EABE;
$c-secondary: #F6D7A7;
$c-contrast-primary: #87AAAA;

$c-dark: #353538;

$c-ok: #aaeeaa;
$c-err: #FF7777;

$c-bg-primary: #C8E3D4;

$c-shadow-primary: #00000018;
$c-shadow-secondary: #00000030;
$c-shadow-light-primary: #ffffff30;
$c-shadow-light-secondary: #ffffff80;